@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');

/*
font-family: 'Outfit', sans-serif;
font-family: 'Space Mono', monospace;
*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;

}

.container{
    width: 80%;
    margin: 0 auto;

}

h2{
    font-size:1.5rem;
    font-family: 'Outfit', monospace;
    text-transform: uppercase;
    padding-top:4rem;
    margin-left: -3rem;
    font-weight: 700;
    color:#333333;
}

.content-container{
    margin-top:  1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-basis: auto;
    flex-wrap: wrap;

}
.content-image{
    flex-basis: auto;
    flex: 1;
}
.content-image img{
    margin-bottom: 4rem;
    width: 539;
    height: 447px;
    flex: 1;

}
.content-info{
    flex-basis: auto;
    flex: 1;
}

.content-info h1{
    line-height: 5rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    font-size: 3.5rem;
    color: #333333;


}

.content-info p{
    margin-top: 1.875rem;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1.25rem;
    width: 60%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #4F4F4F;


}

button{
    all: unset;
    margin-top: 1.875rem;
    background-color: #333333;
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.25rem 3.125rem;
    cursor: pointer; 
}

footer{
    margin-top: 6.25rem;
    text-align: center;
    font-size: .75rem;
    padding: 1.25rem;
    font-family: 'Space Mono', monospace;
    color:#BDBDBD;
}

@media screen and (max-width: 480px){
    .content-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    h2{
        padding: 1rem .5rem;
        margin: .5rem;
        margin-left: -1rem;
    }

    .content-image img{
        margin-left: -1rem;
        width: 20.5rem;
        height:20rem;


    }

    .content-info h1{
        line-height: 3rem;
        margin-top: 0.5rem;
        font-size: 2.25rem;
        letter-spacing: .03px;

    }

    .content-info p{
        font-size: 1rem;
        padding-bottom: 2rem;
        width: 100%;
    }
}